* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
}

body {
	background-color: #c4ebf9;
	color: #fff;
	font-size: 25px;
	max-width: 60vw;
	max-height: 80vh;
	margin: auto;
}

header {
	width: 90%;
	background-color: #02bfb1;
	margin: 40px auto 30px auto;
	padding: 20px 0;
	text-align: center;
}

main {
	width: 90%;
	height: 500px;
	margin: 40px auto 30px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

aside {
	width: 20%;
	background-color: #6edb6e;
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	width: 80%;
	background-color: #fbb04c;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.image-section {
	background-color: #fcd24a;
	width: 12vw;
	height: 21vh;
	margin-bottom: 25px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
